# based on predictions_average from Gabriel
# this file is actually useless

In [2]:
#load Gabriel_predictions.csv

import pandas as pd

In [3]:
#Gabriel_predictions.csv load the csv

gabriel_file = './data/Gabriel_predictions.csv'
df_gabriel = pd.read_csv(gabriel_file)

In [4]:
df_gabriel.rename(columns={
    'Winner': 'winner_xgboost',
}, inplace=True)

In [5]:
df_gabriel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   home_team       36 non-null     object
 1   away_team       36 non-null     object
 2   rank_home_team  36 non-null     float64
 3   rank_away_team  36 non-null     float64
 4   winner_xgboost  36 non-null     object
 5   Confidence      36 non-null     float64
dtypes: float64(3), object(3)
memory usage: 1.8+ KB

In [9]:
#read euro_24_predictions_MODEL=RF.csv

phil_file = 'euro_24_predictions_MODEL=RF.csv'
phil_df = pd.read_csv(phil_file)

In [10]:
phil_df.rename(columns={
    'Winner': 'winner_rf',
}, inplace=True)

In [8]:
phil_df.head(1)

,home_team,away_team,rank_home_team,rank_away_team,winner_rf,Confidence Max,Confidence Min
0,Germany,Scotland,0.505621,-0.794547,Home,0.589698,0.184519

In [26]:
alex_file = 'prediction_QDA'
alex_df = pd.read_csv(alex_file)

In [31]:
alex_df.rename(columns={'prediction_label': 'winner_qda'}, inplace=True)

In [32]:
alex_df

,Unnamed: 0,home_team,away_team,rank_home_team,rank_away_team,winner_qda,prediction_score
0,0,Germany,Scotland,0.505621,-0.794547,Draw,0.8958
1,1,Germany,Hungary,0.505621,-0.216695,Draw,0.9115
2,2,Scotland,Hungary,-0.794547,-0.216695,Away,0.5705
3,3,Hungary,Switzerland,-0.216695,0.361158,Away,0.5247
4,4,Scotland,Switzerland,-0.794547,0.361158,Away,0.6681
5,5,Switzerland,Germany,0.361158,0.505621,Away,0.4248
6,6,Spain,Croatia,0.939010,0.650084,Home,0.4305
7,7,Spain,Italy,0.939010,0.794547,Home,0.4017
8,8,Croatia,Italy,0.650084,0.794547,Away,0.4274
9,9,Italy,Albania,0.794547,-1.516862,Home,0.7397
10,10,Croatia,Albania,0.650084,-1.516862,Home,0.8169
11,11,Albania,Spain,-1.516862,0.939010,Away,0.8763
12,12,Slovenia,Denmark,-1.372399,0.216695,Away,0.7840
13,13,Slovenia,Serbia,-1.372399,-0.505621,Away,0.6859
14,14,Denmark,Serbia,0.216695,-0.505621,Home,0.5318
15,15,Serbia,England,-0.505621,1.372399,Away,0.7522
16,16,Denmark,England,0.216695,1.372399,Away,0.6182
17,17,England,Slovenia,1.372399,-1.372399,Home,0.8854
18,18,Poland,Netherlands,-0.361158,1.083473,Away,0.6823
19,19,Poland,Austria,-0.361158,-0.072232,Away,0.4794
20,20,Netherlands,Austria,1.083473,-0.072232,Home,0.6149
21,21,Austria,France,-0.072232,1.661325,Away,0.7170
22,22,Netherlands,France,1.083473,1.661325,Away,0.5372
23,23,France,Poland,1.661325,-0.361158,Home,0.7839
24,24,Romania,Ukraine,-1.083473,0.072232,Away,0.6968
25,25,Slovakia,Ukraine,-1.227936,0.072232,Away,0.7327
26,26,Belgium,Slovakia,1.516862,-1.227936,Home,0.8848
27,27,Belgium,Romania,1.516862,-1.083473,Home,0.8679
28,28,Slovakia,Romania,-1.227936,-1.083473,Away,0.5382
29,29,Ukraine,Belgium,0.072232,1.516862,Away,0.6691
30,30,Turkey,Georgia,-0.939010,-1.661325,Home,0.5569
31,31,Turkey,Portugal,-0.939010,1.227936,Away,0.8119
32,32,Georgia,Portugal,-1.661325,1.227936,Away,0.9116
33,33,Portugal,Czech Republic,1.227936,-0.650084,Home,0.7589
34,34,Georgia,Czech Republic,-1.661325,-0.650084,Away,0.7426
35,35,Czech Republic,Turkey,-0.650084,-0.939010,Home,0.4500

In [33]:

combined_df = pd.concat([df_gabriel, phil_df, alex_df], axis=1)
combined_df.head(1)

,home_team,away_team,rank_home_team,rank_away_team,winner_xgboost,Confidence,home_team,away_team,rank_home_team,rank_away_team,winner_rf,Confidence Max,Confidence Min,Unnamed: 0,home_team,away_team,rank_home_team,rank_away_team,winner_qda,prediction_score
0,Germany,Scotland,0.505621,-0.794547,Draw,0.564318,Germany,Scotland,0.505621,-0.794547,Home,0.589698,0.184519,0,Germany,Scotland,0.505621,-0.794547,Draw,0.8958

In [34]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   home_team         36 non-null     object
 1   away_team         36 non-null     object
 2   rank_home_team    36 non-null     float64
 3   rank_away_team    36 non-null     float64
 4   winner_xgboost    36 non-null     object
 5   Confidence        36 non-null     float64
 6   home_team         36 non-null     object
 7   away_team         36 non-null     object
 8   rank_home_team    36 non-null     float64
 9   rank_away_team    36 non-null     float64
 10  winner_rf         36 non-null     object
 11  Confidence Max    36 non-null     float64
 12  Confidence Min    36 non-null     float64
 13  Unnamed: 0        36 non-null     int64
 14  home_team         36 non-null     object
 15  away_team         36 non-null     object
 16  rank_home_team    36 non-null     float64
 17  rank_away_team    36 non-null     float64
 18  winner_qda        36 non-null     object
 19  prediction_score  36 non-null     float64
dtypes: float64(10), int64(1), object(9)
memory usage: 5.8+ KB

In [35]:
#winner average

In [36]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   home_team         36 non-null     object
 1   away_team         36 non-null     object
 2   rank_home_team    36 non-null     float64
 3   rank_away_team    36 non-null     float64
 4   winner_xgboost    36 non-null     object
 5   Confidence        36 non-null     float64
 6   home_team         36 non-null     object
 7   away_team         36 non-null     object
 8   rank_home_team    36 non-null     float64
 9   rank_away_team    36 non-null     float64
 10  winner_rf         36 non-null     object
 11  Confidence Max    36 non-null     float64
 12  Confidence Min    36 non-null     float64
 13  Unnamed: 0        36 non-null     int64
 14  home_team         36 non-null     object
 15  away_team         36 non-null     object
 16  rank_home_team    36 non-null     float64
 17  rank_away_team    36 non-null     float64
 18  winner_qda        36 non-null     object
 19  prediction_score  36 non-null     float64
dtypes: float64(10), int64(1), object(9)
memory usage: 5.8+ KB

In [37]:
winner_columns = combined_df[['winner_xgboost', 'winner_rf', 'winner_qda']]
combined_df['winner_average'] = winner_columns.mode(axis=1)[0]

In [38]:
combined_df.head(15)

,home_team,away_team,rank_home_team,rank_away_team,winner_xgboost,Confidence,home_team,away_team,rank_home_team,rank_away_team,...,Confidence Max,Confidence Min,Unnamed: 0,home_team,away_team,rank_home_team,rank_away_team,winner_qda,prediction_score,winner_average
0,Germany,Scotland,0.505621,-0.794547,Draw,0.564318,Germany,Scotland,0.505621,-0.794547,...,0.589698,0.184519,0,Germany,Scotland,0.505621,-0.794547,Draw,0.8958,Draw
1,Germany,Hungary,0.505621,-0.216695,Draw,0.461964,Germany,Hungary,0.505621,-0.216695,...,0.438665,0.244733,1,Germany,Hungary,0.505621,-0.216695,Draw,0.9115,Draw
2,Scotland,Hungary,-0.794547,-0.216695,Away,0.562524,Scotland,Hungary,-0.794547,-0.216695,...,0.380412,0.252015,2,Scotland,Hungary,-0.794547,-0.216695,Away,0.5705,Away
3,Hungary,Switzerland,-0.216695,0.361158,Draw,0.507330,Hungary,Switzerland,-0.216695,0.361158,...,0.371036,0.275203,3,Hungary,Switzerland,-0.216695,0.361158,Away,0.5247,Draw
4,Scotland,Switzerland,-0.794547,0.361158,Away,0.441018,Scotland,Switzerland,-0.794547,0.361158,...,0.371036,0.275203,4,Scotland,Switzerland,-0.794547,0.361158,Away,0.6681,Away
5,Switzerland,Germany,0.361158,0.505621,Draw,0.441780,Switzerland,Germany,0.361158,0.505621,...,0.372531,0.308417,5,Switzerland,Germany,0.361158,0.505621,Away,0.4248,Away
6,Spain,Croatia,0.939010,0.650084,Home,0.530930,Spain,Croatia,0.939010,0.650084,...,0.410644,0.283320,6,Spain,Croatia,0.939010,0.650084,Home,0.4305,Home
7,Spain,Italy,0.939010,0.794547,Home,0.453436,Spain,Italy,0.939010,0.794547,...,0.372531,0.308417,7,Spain,Italy,0.939010,0.794547,Home,0.4017,Home
8,Croatia,Italy,0.650084,0.794547,Away,0.460368,Croatia,Italy,0.650084,0.794547,...,0.396355,0.270104,8,Croatia,Italy,0.650084,0.794547,Away,0.4274,Away
9,Italy,Albania,0.794547,-1.516862,Home,0.752770,Italy,Albania,0.794547,-1.516862,...,0.658515,0.169593,9,Italy,Albania,0.794547,-1.516862,Home,0.7397,Home
10,Croatia,Albania,0.650084,-1.516862,Home,0.752770,Croatia,Albania,0.650084,-1.516862,...,0.658515,0.169593,10,Croatia,Albania,0.650084,-1.516862,Home,0.8169,Home
11,Albania,Spain,-1.516862,0.939010,Away,0.910310,Albania,Spain,-1.516862,0.939010,...,0.375388,0.266424,11,Albania,Spain,-1.516862,0.939010,Away,0.8763,Away
12,Slovenia,Denmark,-1.372399,0.216695,Away,0.476125,Slovenia,Denmark,-1.372399,0.216695,...,0.499719,0.217057,12,Slovenia,Denmark,-1.372399,0.216695,Away,0.7840,Away
13,Slovenia,Serbia,-1.372399,-0.505621,Draw,0.382254,Slovenia,Serbia,-1.372399,-0.505621,...,0.514929,0.172550,13,Slovenia,Serbia,-1.372399,-0.505621,Away,0.6859,Away
14,Denmark,Serbia,0.216695,-0.505621,Draw,0.564318,Denmark,Serbia,0.216695,-0.505621,...,0.601632,0.138760,14,Denmark,Serbia,0.216695,-0.505621,Home,0.5318,Home

In [46]:
import numpy as np
combined_df['winner_random'] = np.random.choice(['Draw', 'Home', 'Away'], size=len(combined_df))

combined_df.head(1)

,home_team,home_team,home_team,away_team,away_team,away_team,winner_xgboost,winner_rf,winner_qda,winner_average,winner_random
0,Germany,Germany,Germany,Scotland,Scotland,Scotland,Draw,Home,Draw,Draw,Away

In [47]:
combined_df = combined_df[['home_team', 'away_team', 'winner_xgboost', 'winner_rf' , 'winner_qda', 'winner_average', 'winner_random']]

In [48]:
combined_df.head()

,home_team,home_team,home_team,away_team,away_team,away_team,winner_xgboost,winner_rf,winner_qda,winner_average,winner_random
0,Germany,Germany,Germany,Scotland,Scotland,Scotland,Draw,Home,Draw,Draw,Away
1,Germany,Germany,Germany,Hungary,Hungary,Hungary,Draw,Home,Draw,Draw,Home
2,Scotland,Scotland,Scotland,Hungary,Hungary,Hungary,Away,Home,Away,Away,Away
3,Hungary,Hungary,Hungary,Switzerland,Switzerland,Switzerland,Draw,Draw,Away,Draw,Away
4,Scotland,Scotland,Scotland,Switzerland,Switzerland,Switzerland,Away,Draw,Away,Away,Home

In [50]:
combined_df= combined_df.iloc[:,[0,3,6,7,8,9,10]]

In [52]:
file = './data/Euro_24.csv'
euro_groups = pd.read_csv(file)

In [88]:
euro_groups.head()

     Group    Home_Team    Away_Team
0  Group_A      Germany     Scotland
1  Group_A      Hungary  Switzerland
2  Group_A      Germany      Hungary
3  Group_A     Scotland  Switzerland
4  Group_A  Switzerland      Germany

In [53]:
euro_melt = euro_groups.melt(id_vars=['Group'], var_name='Home_Team', value_name='Team').drop(columns='Home_Team').drop_duplicates().reset_index()
euro_melt

    index    Group         Team
0       0  Group_A      Germany
1       1  Group_A      Hungary
2       3  Group_A     Scotland
3       4  Group_A  Switzerland
4       6  Group_B        Spain
5       7  Group_B        Italy
6       8  Group_B      Croatia
7      10  Group_B      Albania
8      12  Group_C     Slovenia
9      13  Group_C       Serbia
10     15  Group_C      Denmark
11     16  Group_C      England
12     18  Group_D       Poland
13     19  Group_D      Austria
14     21  Group_D  Netherlands
15     23  Group_D       France
16     24  Group_E      Romania
17     25  Group_E      Belgium
18     26  Group_E     Slovakia
19     29  Group_E      Ukraine
20     30  Group_F      Türkiye
21     31  Group_F     Portugal
22     32  Group_F      Georgia
23     35  Group_F      Czechia

In [54]:
combined_df.head()

,home_team,away_team,winner_xgboost,winner_rf,winner_qda,winner_average,winner_random
0,Germany,Scotland,Draw,Home,Draw,Draw,Away
1,Germany,Hungary,Draw,Home,Draw,Draw,Home
2,Scotland,Hungary,Away,Home,Away,Away,Away
3,Hungary,Switzerland,Draw,Draw,Away,Draw,Away
4,Scotland,Switzerland,Away,Draw,Away,Away,Home

In [106]:
points = []
pkt = 0
for Team in euro_melt["Team"]:
    for HomeTeam in combined_df['home_team']:
        if combined_df['winner_average']=='Home':
            pkt +=3
        elif combined_df['winner_average']=='Draw':
            pkt +=1
        else: pass
    points.append(pkt)

points

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().