In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import requests
from bs4 import BeautifulSoup

In [119]:
df_results = pd.read_csv("data/results.csv")

In [50]:
df_results

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0.0,0.0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4.0,2.0,Friendly,London,England,False
2,1874-03-07,Scotland,England,2.0,1.0,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2.0,2.0,Friendly,London,England,False
4,1876-03-04,Scotland,England,3.0,0.0,Friendly,Glasgow,Scotland,False
...,...,...,...,...,...,...,...,...,...
47320,2024-07-06,NaN,NaN,NaN,NaN,UEFA Euro,Düsseldorf,Germany,True
47321,2024-07-06,NaN,NaN,NaN,NaN,UEFA Euro,Berlin,Germany,True
47322,2024-07-09,NaN,NaN,NaN,NaN,UEFA Euro,Munich,Germany,True
47323,2024-07-10,NaN,NaN,NaN,NaN,UEFA Euro,Dortmund,Germany,True
47324,2024-07-14,NaN,NaN,NaN,NaN,UEFA Euro,Berlin,Germany,True

In [121]:
def determine_winner(row):
    if pd.isna(row['home_score']) or pd.isna(row['away_score']):
        return None
    if row['home_score'] > row['away_score']:
        return row['home_team']
    elif row['home_score'] < row['away_score']:
        return row['away_team']
    else:
        return 'Draw'

In [123]:
# Apply the function to each row in the DataFrame
df_results['winner'] = df_results.apply(determine_winner, axis=1)

# Display the DataFrame with the new 'winner' column
df_results

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,winner
0,1872-11-30,Scotland,England,0.0,0.0,Friendly,Glasgow,Scotland,False,Draw
1,1873-03-08,England,Scotland,4.0,2.0,Friendly,London,England,False,England
2,1874-03-07,Scotland,England,2.0,1.0,Friendly,Glasgow,Scotland,False,Scotland
3,1875-03-06,England,Scotland,2.0,2.0,Friendly,London,England,False,Draw
4,1876-03-04,Scotland,England,3.0,0.0,Friendly,Glasgow,Scotland,False,Scotland
...,...,...,...,...,...,...,...,...,...,...
47320,2024-07-06,NaN,NaN,NaN,NaN,UEFA Euro,Düsseldorf,Germany,True,None
47321,2024-07-06,NaN,NaN,NaN,NaN,UEFA Euro,Berlin,Germany,True,None
47322,2024-07-09,NaN,NaN,NaN,NaN,UEFA Euro,Munich,Germany,True,None
47323,2024-07-10,NaN,NaN,NaN,NaN,UEFA Euro,Dortmund,Germany,True,None
47324,2024-07-14,NaN,NaN,NaN,NaN,UEFA Euro,Berlin,Germany,True,None

In [125]:
df_results["date"] = pd.to_datetime(df_results["date"])

In [127]:
df_results["year"] = df_results["date"].dt.year

In [129]:
df_clean = df_results

In [81]:
df_clean.to_csv("Matches Data.csv")

In [139]:
df_clean.drop("date",axis=1,inplace=True)

In [92]:
df_teams = pd.read_csv("data/Euro_24.csv")

In [97]:
team_list = df_teams["Home_Team"].unique()

In [90]:
len(df_teams["Away_Team"].unique())

NameError: name 'df_teams' is not defined

In [99]:
team_list

array(['Germany', 'Hungary', 'Scotland', 'Switzerland', 'Spain', 'Italy',
       'Croatia', 'Albania', 'Slovenia', 'Serbia', 'Denmark', 'England',
       'Poland', 'Austria', 'Netherlands', 'France', 'Romania', 'Belgium',
       'Slovakia', 'Ukraine', 'Türkiye', 'Portugal', 'Georgia', 'Czechia'],
      dtype=object)

In [28]:
team_list[0]

'Germany'

In [135]:
df_clean

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,winner,year
0,1872-11-30,Scotland,England,0.0,0.0,Friendly,Glasgow,Scotland,False,Draw,1872
1,1873-03-08,England,Scotland,4.0,2.0,Friendly,London,England,False,England,1873
2,1874-03-07,Scotland,England,2.0,1.0,Friendly,Glasgow,Scotland,False,Scotland,1874
3,1875-03-06,England,Scotland,2.0,2.0,Friendly,London,England,False,Draw,1875
4,1876-03-04,Scotland,England,3.0,0.0,Friendly,Glasgow,Scotland,False,Scotland,1876
...,...,...,...,...,...,...,...,...,...,...,...
47320,2024-07-06,NaN,NaN,NaN,NaN,UEFA Euro,Düsseldorf,Germany,True,None,2024
47321,2024-07-06,NaN,NaN,NaN,NaN,UEFA Euro,Berlin,Germany,True,None,2024
47322,2024-07-09,NaN,NaN,NaN,NaN,UEFA Euro,Munich,Germany,True,None,2024
47323,2024-07-10,NaN,NaN,NaN,NaN,UEFA Euro,Dortmund,Germany,True,None,2024
47324,2024-07-14,NaN,NaN,NaN,NaN,UEFA Euro,Berlin,Germany,True,None,2024

In [32]:
df_results = pd.read_csv("data/Matches Data.csv")

In [38]:
df_results = df_results.drop("Unnamed: 0",axis=1)

In [143]:
filtered_df = df_clean[(df_clean["home_team"].isin(team_list)) | (df_clean["away_team"].isin(team_list))]

filtered_df.to_csv("Matches Data.csv")

In [48]:
team_list

array(['Germany', 'Hungary', 'Scotland', 'Switzerland', 'Spain', 'Italy',
       'Croatia', 'Albania', 'Slovenia', 'Serbia', 'Denmark', 'England',
       'Poland', 'Austria', 'Netherlands', 'France', 'Romania', 'Belgium',
       'Slovakia', 'Ukraine', 'Türkiye', 'Portugal', 'Georgia', 'Czechia'],
      dtype=object)

In [62]:
filtered_df[(filtered_df["home_team"]=="Türkiye")]

Empty DataFrame
Columns: [home_team, away_team, home_score, away_score, tournament, winner, year]
Index: []

In [76]:
t_list = df_results["home_team"].unique()

In [86]:
 #'Scotland', 'England', 'Austria', 'Belgium', 'France', 'Netherlands', 'Switzerland','Germany', 'Italy','Denmark',Spain','Poland','Portugal'
# 'Romania','Slovakia','Croatia','Albania', 'Georgia','Slovenia','Serbia','Ukraine','Hungary'
#'Czech Republic','Turkey'

In [101]:
team_list[23] = 'Czech Republic'

In [103]:
team_list[20] = 'Turkey'

In [111]:
filtered_df = test[(test["home_team"].isin(team_list)) & (test["away_team"].isin(team_list))]
filtered_df

,Unnamed: 0,home_team,away_team,home_score,away_score,tournament,city,country,neutral,winner,year
0,0,Scotland,England,0.0,0.0,Friendly,Glasgow,Scotland,False,Draw,1872
1,1,England,Scotland,4.0,2.0,Friendly,London,England,False,England,1873
2,2,Scotland,England,2.0,1.0,Friendly,Glasgow,Scotland,False,Scotland,1874
3,3,England,Scotland,2.0,2.0,Friendly,London,England,False,Draw,1875
4,4,Scotland,England,3.0,0.0,Friendly,Glasgow,Scotland,False,Scotland,1876
...,...,...,...,...,...,...,...,...,...,...,...
12254,47305,France,Poland,NaN,NaN,UEFA Euro,Dortmund,Germany,True,NaN,2024
12255,47306,Slovakia,Romania,NaN,NaN,UEFA Euro,Frankfurt,Germany,True,NaN,2024
12256,47307,Ukraine,Belgium,NaN,NaN,UEFA Euro,Stuttgart,Germany,True,NaN,2024
12257,47308,Georgia,Portugal,NaN,NaN,UEFA Euro,Gelsenkirchen,Germany,True,NaN,2024
12258,47309,Czech Republic,Turkey,NaN,NaN,UEFA Euro,Hamburg,Germany,True,NaN,2024

In [117]:
len(filtered_df["away_team"].unique())

24

In [74]:
test = pd.read_csv("data/Matches Data.csv")

In [76]:
test["home_team"].unique()

array(['Scotland', 'England', 'Wales', 'Northern Ireland', 'Austria',
       'Hungary', 'Belgium', 'France', 'Netherlands', 'Czechoslovakia',
       'Switzerland', 'Germany', 'Italy', 'Sweden', 'Luxembourg',
       'Norway', 'Russia', 'Denmark', 'Catalonia', 'Canada', 'Finland',
       'Spain', 'Poland', 'Yugoslavia', 'Romania', 'Portugal', 'Estonia',
       'Turkey', 'Egypt', 'Uruguay', 'Latvia', 'Bulgaria', 'Argentina',
       'Belarus', 'Republic of Ireland', 'Peru', 'Chile', 'Brazil',
       'Lithuania', 'Greece', 'Silesia', 'United States', 'Cuba',
       'Slovakia', 'Croatia', 'Iceland', 'Albania', 'Iran', 'Mexico',
       'Israel', 'Saarland', 'German DR', 'South Korea', 'Curaçao',
       'Aruba', 'Suriname', 'Lebanon', 'Malta', 'China PR', 'Paraguay',
       'Morocco', 'Ethiopia', 'Senegal', 'Algeria', 'Pakistan', 'Cyprus',
       'North Korea', 'Tunisia', 'DR Congo', 'Bermuda', 'Saudi Arabia',
       'Iraq', 'Colombia', 'Ecuador', 'Togo', 'Benin', 'Haiti',
       'El Salvador', 'Northern Cyprus', 'Gambia', 'Bolivia', 'Libya',
       'Georgia', 'Australia', 'Basque Country', 'Japan', 'Venezuela',
       'New Zealand', 'Liechtenstein', 'Ivory Coast', 'Zimbabwe', 'Kenya',
       'India', 'Honduras', 'Qatar', 'Guatemala', 'Kuwait',
       'United Arab Emirates', 'Costa Rica', 'Cameroon', 'Faroe Islands',
       'San Marino', 'Malaysia', 'Slovenia', 'Moldova', 'Ukraine',
       'Czech Republic', 'Azerbaijan', 'North Macedonia', 'Nigeria',
       'Serbia', 'Armenia', 'South Africa', 'Bosnia and Herzegovina',
       'Ghana', 'Oman', 'Jamaica', 'Andorra', 'Bangladesh', 'Jordan',
       'Bahrain', 'Kazakhstan', 'Thailand', 'Antigua and Barbuda',
       'Hong Kong', 'Angola', 'Montenegro', 'Trinidad and Tobago',
       'Mozambique', 'Puerto Rico', 'Gabon', 'Panama', 'Indonesia',
       'Equatorial Guinea', 'Gibraltar', 'Kosovo', 'Uzbekistan',
       'Dominican Republic'], dtype=object)

In [78]:
team_l

NameError: name 'team_l' is not defined

In [119]:
filtered_df.to_csv("data/Matches Data.csv")

In [138]:
df_temp = pd.read_csv("data/power_rankings_2016-2024.csv")

In [158]:
df_long = pd.melt(df_temp, id_vars=['Country'], var_name='Year', value_name='Rank')

In [160]:
df_long

         Country  Year  Rank
0         France  2024     1
1        Belgium  2024     2
2        England  2024     3
3    Netherlands  2024     5
4        Croatia  2024     8
..           ...   ...   ...
211      Romania  2016    17
212     Slovakia  2016    13
213     Slovenia  2016    21
214      Albania  2016    23
215      Georgia  2016    24

[216 rows x 3 columns]

In [171]:
filtered_df = pd.read_csv("data/Matches Data.csv")

In [173]:
len(filtered_df["home_team"].unique())

24