In [1]:
#load Gabriel_predictions.csv

import pandas as pd
import numpy as np

In [2]:
#Gabriel_predictions.csv load the csv

gabriel_file = 'data/Gabriel_predictions.csv'
df_gabriel = pd.read_csv(gabriel_file)

In [5]:
df_gabriel.rename(columns={
    'Winner': 'winner_xgboost',
}, inplace=True)

In [7]:
df_gabriel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   home_team       36 non-null     object
 1   away_team       36 non-null     object
 2   rank_home_team  36 non-null     float64
 3   rank_away_team  36 non-null     float64
 4   winner_xgboost  36 non-null     object
 5   Confidence      36 non-null     float64
dtypes: float64(3), object(3)
memory usage: 1.8+ KB

In [9]:
#read euro_24_predictions_MODEL=RF.csv

phil_file = 'data/euro_24_predictions_MODEL=RF.csv'
phil_df = pd.read_csv(phil_file)

In [11]:
phil_df.rename(columns={
    'Winner': 'winner_rf',
}, inplace=True)
phil_df

,home_team,away_team,rank_home_team,rank_away_team,winner_rf,Confidence Max,Confidence Min
0,Germany,Scotland,0.505621,-0.794547,Home,0.589698,0.184519
1,Germany,Hungary,0.505621,-0.216695,Home,0.438665,0.244733
2,Scotland,Hungary,-0.794547,-0.216695,Home,0.380412,0.252015
3,Hungary,Switzerland,-0.216695,0.361158,Draw,0.371036,0.275203
4,Scotland,Switzerland,-0.794547,0.361158,Draw,0.371036,0.275203
5,Switzerland,Germany,0.361158,0.505621,Away,0.372531,0.308417
6,Spain,Croatia,0.939010,0.650084,Home,0.410644,0.283320
7,Spain,Italy,0.939010,0.794547,Away,0.372531,0.308417
8,Croatia,Italy,0.650084,0.794547,Home,0.396355,0.270104
9,Italy,Albania,0.794547,-1.516862,Home,0.658515,0.169593
10,Croatia,Albania,0.650084,-1.516862,Home,0.658515,0.169593
11,Albania,Spain,-1.516862,0.939010,Home,0.375388,0.266424
12,Slovenia,Denmark,-1.372399,0.216695,Away,0.499719,0.217057
13,Slovenia,Serbia,-1.372399,-0.505621,Home,0.514929,0.172550
14,Denmark,Serbia,0.216695,-0.505621,Home,0.601632,0.138760
15,Serbia,England,-0.505621,1.372399,Away,0.423502,0.260800
16,Denmark,England,0.216695,1.372399,Away,0.384512,0.277385
17,England,Slovenia,1.372399,-1.372399,Home,0.601632,0.138760
18,Poland,Netherlands,-0.361158,1.083473,Away,0.423502,0.260800
19,Poland,Austria,-0.361158,-0.072232,Home,0.380412,0.252015
20,Netherlands,Austria,1.083473,-0.072232,Home,0.530256,0.219637
21,Austria,France,-0.072232,1.661325,Away,0.384512,0.277385
22,Netherlands,France,1.083473,1.661325,Away,0.372531,0.308417
23,France,Poland,1.661325,-0.361158,Home,0.438665,0.244733
24,Romania,Ukraine,-1.083473,0.072232,Away,0.397178,0.298085
25,Slovakia,Ukraine,-1.227936,0.072232,Away,0.397178,0.298085
26,Belgium,Slovakia,1.516862,-1.227936,Home,0.601632,0.138760
27,Belgium,Romania,1.516862,-1.083473,Home,0.589698,0.184519
28,Slovakia,Romania,-1.227936,-1.083473,Home,0.514929,0.172550
29,Ukraine,Belgium,0.072232,1.516862,Home,0.469537,0.150153
30,Turkey,Georgia,-0.939010,-1.661325,Home,0.433901,0.151038
31,Turkey,Portugal,-0.939010,1.227936,Away,0.500202,0.182411
32,Georgia,Portugal,-1.661325,1.227936,Away,0.460729,0.244911
33,Portugal,Czech Republic,1.227936,-0.650084,Home,0.658515,0.169593
34,Georgia,Czech Republic,-1.661325,-0.650084,Away,0.505340,0.198781
35,Czech Republic,Turkey,-0.650084,-0.939010,Home,0.432584,0.280824

In [13]:
alex_file = 'prediction_QDA'
alex_df = pd.read_csv(alex_file).drop("Unnamed: 0",axis=1)

In [15]:
alex_df.rename(columns={'prediction_label': 'winner_qda'}, inplace=True)

In [17]:
alex_df.columns

Index(['home_team', 'away_team', 'rank_home_team', 'rank_away_team',
       'winner_qda', 'prediction_score'],
      dtype='object')

In [19]:
combined_df = pd.concat([df_gabriel, phil_df[["winner_rf","Confidence Max",	"Confidence Min"]], alex_df[['winner_qda', 'prediction_score']]], axis=1)

# If you want to reset the index after concatenation (optional)
# combined_df.reset_index(drop=True, inplace=True)

# Display or use combined_df as needed
combined_df.head(1)

,home_team,away_team,rank_home_team,rank_away_team,winner_xgboost,Confidence,winner_rf,Confidence Max,Confidence Min,winner_qda,prediction_score
0,Germany,Scotland,0.505621,-0.794547,Draw,0.564318,Home,0.589698,0.184519,Draw,0.8958

In [21]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   home_team         36 non-null     object
 1   away_team         36 non-null     object
 2   rank_home_team    36 non-null     float64
 3   rank_away_team    36 non-null     float64
 4   winner_xgboost    36 non-null     object
 5   Confidence        36 non-null     float64
 6   winner_rf         36 non-null     object
 7   Confidence Max    36 non-null     float64
 8   Confidence Min    36 non-null     float64
 9   winner_qda        36 non-null     object
 10  prediction_score  36 non-null     float64
dtypes: float64(6), object(5)
memory usage: 3.2+ KB

In [23]:
#winner average

In [25]:
winner_columns = combined_df[['winner_xgboost', 'winner_rf', 'winner_qda']]
combined_df['winner_average'] = winner_columns.mode(axis=1)[0]

In [27]:
combined_df.head(15)

,home_team,away_team,rank_home_team,rank_away_team,winner_xgboost,Confidence,winner_rf,Confidence Max,Confidence Min,winner_qda,prediction_score,winner_average
0,Germany,Scotland,0.505621,-0.794547,Draw,0.564318,Home,0.589698,0.184519,Draw,0.8958,Draw
1,Germany,Hungary,0.505621,-0.216695,Draw,0.461964,Home,0.438665,0.244733,Draw,0.9115,Draw
2,Scotland,Hungary,-0.794547,-0.216695,Away,0.562524,Home,0.380412,0.252015,Away,0.5705,Away
3,Hungary,Switzerland,-0.216695,0.361158,Draw,0.507330,Draw,0.371036,0.275203,Away,0.5247,Draw
4,Scotland,Switzerland,-0.794547,0.361158,Away,0.441018,Draw,0.371036,0.275203,Away,0.6681,Away
5,Switzerland,Germany,0.361158,0.505621,Draw,0.441780,Away,0.372531,0.308417,Away,0.4248,Away
6,Spain,Croatia,0.939010,0.650084,Home,0.530930,Home,0.410644,0.283320,Home,0.4305,Home
7,Spain,Italy,0.939010,0.794547,Home,0.453436,Away,0.372531,0.308417,Home,0.4017,Home
8,Croatia,Italy,0.650084,0.794547,Away,0.460368,Home,0.396355,0.270104,Away,0.4274,Away
9,Italy,Albania,0.794547,-1.516862,Home,0.752770,Home,0.658515,0.169593,Home,0.7397,Home
10,Croatia,Albania,0.650084,-1.516862,Home,0.752770,Home,0.658515,0.169593,Home,0.8169,Home
11,Albania,Spain,-1.516862,0.939010,Away,0.910310,Home,0.375388,0.266424,Away,0.8763,Away
12,Slovenia,Denmark,-1.372399,0.216695,Away,0.476125,Away,0.499719,0.217057,Away,0.7840,Away
13,Slovenia,Serbia,-1.372399,-0.505621,Draw,0.382254,Home,0.514929,0.172550,Away,0.6859,Away
14,Denmark,Serbia,0.216695,-0.505621,Draw,0.564318,Home,0.601632,0.138760,Home,0.5318,Home

In [29]:
combined_df['winner_random'] = np.random.choice(['Draw', 'Home', 'Away'], size=len(combined_df))

combined_df.head(1)

,home_team,away_team,rank_home_team,rank_away_team,winner_xgboost,Confidence,winner_rf,Confidence Max,Confidence Min,winner_qda,prediction_score,winner_average,winner_random
0,Germany,Scotland,0.505621,-0.794547,Draw,0.564318,Home,0.589698,0.184519,Draw,0.8958,Draw,Draw

In [31]:
combined_df = combined_df[['home_team', 'away_team', 'winner_xgboost', 'winner_rf' , 'winner_qda', 'winner_average', 'winner_random']]

In [34]:
combined_df.head()

,home_team,away_team,winner_xgboost,winner_rf,winner_qda,winner_average,winner_random
0,Germany,Scotland,Draw,Home,Draw,Draw,Draw
1,Germany,Hungary,Draw,Home,Draw,Draw,Draw
2,Scotland,Hungary,Away,Home,Away,Away,Draw
3,Hungary,Switzerland,Draw,Draw,Away,Draw,Away
4,Scotland,Switzerland,Away,Draw,Away,Away,Draw

In [36]:
combined_df['home_team'].unique()

array(['Germany', 'Scotland', 'Hungary', 'Switzerland', 'Spain',
       'Croatia', 'Italy', 'Albania', 'Slovenia', 'Denmark', 'Serbia',
       'England', 'Poland', 'Netherlands', 'Austria', 'France', 'Romania',
       'Slovakia', 'Belgium', 'Ukraine', 'Turkey', 'Georgia', 'Portugal',
       'Czech Republic'], dtype=object)

In [38]:
combined_df['away_team'].unique()

array(['Scotland', 'Hungary', 'Switzerland', 'Germany', 'Croatia',
       'Italy', 'Albania', 'Spain', 'Denmark', 'Serbia', 'England',
       'Slovenia', 'Netherlands', 'Austria', 'France', 'Poland',
       'Ukraine', 'Slovakia', 'Romania', 'Belgium', 'Georgia', 'Portugal',
       'Czech Republic', 'Turkey'], dtype=object)

In [41]:
file = 'data/Euro_24_updated.csv'
euro_groups = pd.read_csv(file)

In [43]:
euro_groups.head()

     Group    Home_Team    Away_Team
0  Group_A      Germany     Scotland
1  Group_A      Hungary  Switzerland
2  Group_A      Germany      Hungary
3  Group_A     Scotland  Switzerland
4  Group_A  Switzerland      Germany

In [45]:
euro_melt =euro_groups.melt(id_vars=['Group'], var_name='Home_Team', value_name='Team').drop(columns='Home_Team').drop_duplicates().reset_index()
euro_melt

    index    Group            Team
0       0  Group_A         Germany
1       1  Group_A         Hungary
2       3  Group_A        Scotland
3       4  Group_A     Switzerland
4       6  Group_B           Spain
5       7  Group_B           Italy
6       8  Group_B         Croatia
7      10  Group_B         Albania
8      12  Group_C        Slovenia
9      13  Group_C          Serbia
10     15  Group_C         Denmark
11     16  Group_C         England
12     18  Group_D          Poland
13     19  Group_D         Austria
14     21  Group_D     Netherlands
15     23  Group_D          France
16     24  Group_E         Romania
17     25  Group_E         Belgium
18     26  Group_E        Slovakia
19     29  Group_E         Ukraine
20     30  Group_F          Turkey
21     31  Group_F        Portugal
22     32  Group_F         Georgia
23     35  Group_F  Czech Republic

In [47]:
combined_df.head()

,home_team,away_team,winner_xgboost,winner_rf,winner_qda,winner_average,winner_random
0,Germany,Scotland,Draw,Home,Draw,Draw,Draw
1,Germany,Hungary,Draw,Home,Draw,Draw,Draw
2,Scotland,Hungary,Away,Home,Away,Away,Draw
3,Hungary,Switzerland,Draw,Draw,Away,Draw,Away
4,Scotland,Switzerland,Away,Draw,Away,Away,Draw

In [57]:
matches_df = pd.DataFrame(combined_df)
teams_df = pd.DataFrame(euro_melt)

# Initialize points columns for each prediction model
points_columns = ["points_xgboost", "points_rf", "points_qda", "points_average", "points_random"]
for column in points_columns:
    teams_df[column] = 0

# Function to update points
def update_points(df, home_team, away_team, winner, points_column):
    if winner == "Home":
        df.loc[df["Team"] == home_team, points_column] += 3
    elif winner == "Away":
        df.loc[df["Team"] == away_team, points_column] += 3
    elif winner == "Draw":
        df.loc[df["Team"] == home_team, points_column] += 1
        df.loc[df["Team"] == away_team, points_column] += 1

# Iterate over matches and update points
for index, match in matches_df.iterrows():
    for model in ["xgboost", "rf", "qda", "average", "random"]:
        update_points(teams_df, match["home_team"], match["away_team"], match[f"winner_{model}"], f"points_{model}")

# Function to get top 3 teams by predicted points
def get_top_three_teams_by_model(df, points_column):
    top_teams = df.groupby('Group').apply(lambda x: x.nlargest(3, points_column)).reset_index(drop=True)
    return top_teams[["Group", "Team", points_column]]

# Get top 3 teams for each prediction model
top_three_xgboost = get_top_three_teams_by_model(teams_df, "points_xgboost")
top_three_rf = get_top_three_teams_by_model(teams_df, "points_rf")
top_three_qda = get_top_three_teams_by_model(teams_df, "points_qda")
top_three_average = get_top_three_teams_by_model(teams_df, "points_average")
top_three_random = get_top_three_teams_by_model(teams_df, "points_random")

# Add model column to each dataframe
top_three_xgboost['model'] = 'xgboost'
top_three_rf['model'] = 'rf'
top_three_qda['model'] = 'qda'
top_three_average['model'] = 'average'
top_three_random['model'] = 'random'

# Concatenate all dataframes into one
combined_top_three = pd.concat([top_three_xgboost, top_three_rf[["Team",	"points_rf","model"]], top_three_qda[["Team",	"points_qda",	"model"]], top_three_average[["Team",	"points_average",	"model"]], top_three_random[["Team",	"points_random",	"model"]]],axis=1)

combined_top_three.reset_index(drop=True, inplace=True)
combined_top_three

,Group,Team,points_xgboost,model,Team,points_rf,model,Team,points_qda,model,Team,points_average,model,Team,points_random,model
0,Group_A,Hungary,5,xgboost,Germany,9,rf,Switzerland,6,qda,Germany,5,average,Switzerland,7,random
1,Group_A,Switzerland,5,xgboost,Scotland,4,rf,Germany,5,qda,Hungary,5,average,Scotland,3,random
2,Group_A,Germany,3,xgboost,Switzerland,2,rf,Hungary,4,qda,Switzerland,4,average,Germany,2,random
3,Group_B,Spain,9,xgboost,Italy,6,rf,Spain,9,qda,Spain,9,average,Croatia,5,random
4,Group_B,Italy,6,xgboost,Croatia,6,rf,Italy,6,qda,Italy,6,average,Albania,5,random
5,Group_B,Croatia,3,xgboost,Spain,3,rf,Croatia,3,qda,Croatia,3,average,Spain,3,random
6,Group_C,England,9,xgboost,England,9,rf,England,9,qda,England,9,average,England,7,random
7,Group_C,Denmark,4,xgboost,Denmark,6,rf,Denmark,6,qda,Denmark,6,average,Denmark,6,random
8,Group_C,Serbia,2,xgboost,Slovenia,3,rf,Serbia,3,qda,Serbia,3,average,Serbia,4,random
9,Group_D,France,9,xgboost,France,9,rf,France,9,qda,France,9,average,Poland,6,random
10,Group_D,Netherlands,6,xgboost,Netherlands,6,rf,Netherlands,6,qda,Netherlands,6,average,France,6,random
11,Group_D,Poland,1,xgboost,Poland,3,rf,Austria,3,qda,Austria,3,average,Austria,4,random
12,Group_E,Belgium,9,xgboost,Ukraine,9,rf,Belgium,9,qda,Belgium,9,average,Ukraine,7,random
13,Group_E,Ukraine,6,xgboost,Belgium,6,rf,Ukraine,6,qda,Ukraine,6,average,Romania,4,random
14,Group_E,Slovakia,3,xgboost,Slovakia,3,rf,Romania,3,qda,Slovakia,3,average,Slovakia,3,random
15,Group_F,Portugal,7,xgboost,Portugal,9,rf,Portugal,9,qda,Portugal,9,average,Portugal,9,random
16,Group_F,Czech Republic,6,xgboost,Czech Republic,6,rf,Czech Republic,6,qda,Czech Republic,6,average,Turkey,4,random
17,Group_F,Turkey,4,xgboost,Turkey,3,rf,Turkey,3,qda,Turkey,3,average,Georgia,3,random

In [51]:
combined_top_three.to_csv("Group_stage_tables.csv")

In [94]:
combined_top_three['model']

      model model model    model   model
0   xgboost    rf   qda  average  random
1   xgboost    rf   qda  average  random
2   xgboost    rf   qda  average  random
3   xgboost    rf   qda  average  random
4   xgboost    rf   qda  average  random
5   xgboost    rf   qda  average  random
6   xgboost    rf   qda  average  random
7   xgboost    rf   qda  average  random
8   xgboost    rf   qda  average  random
9   xgboost    rf   qda  average  random
10  xgboost    rf   qda  average  random
11  xgboost    rf   qda  average  random
12  xgboost    rf   qda  average  random
13  xgboost    rf   qda  average  random
14  xgboost    rf   qda  average  random
15  xgboost    rf   qda  average  random
16  xgboost    rf   qda  average  random
17  xgboost    rf   qda  average  random

In [83]:
def determine_matchups(top_teams_list):
    matchups = []
    
    for model_df in top_teams_list:
        model = model_df['model'].iloc[0]
        
        # Get top teams in each group
        group_a = model_df[model_df['Group'] == 'Group_A'].sort_values(by=model_df.columns[2], ascending=False)
        group_b = model_df[model_df['Group'] == 'Group_B'].sort_values(by=model_df.columns[2], ascending=False)
        group_c = model_df[model_df['Group'] == 'Group_C'].sort_values(by=model_df.columns[2], ascending=False)
        group_d = model_df[model_df['Group'] == 'Group_D'].sort_values(by=model_df.columns[2], ascending=False)
        group_e = model_df[model_df['Group'] == 'Group_E'].sort_values(by=model_df.columns[2], ascending=False)
        group_f = model_df[model_df['Group'] == 'Group_F'].sort_values(by=model_df.columns[2], ascending=False)

        # Get top 3 teams in each group
        top_a = group_a.iloc[:3]['Team'].tolist()
        top_b = group_b.iloc[:3]['Team'].tolist()
        top_c = group_c.iloc[:3]['Team'].tolist()
        top_d = group_d.iloc[:3]['Team'].tolist()
        top_e = group_e.iloc[:3]['Team'].tolist()
        top_f = group_f.iloc[:3]['Team'].tolist()

        # Define matchups
        matchups.extend([
            (top_a[1], top_b[1], model),  # Second place Group A vs. Second place Group B
            (top_a[0], top_c[1], model),  # First place Group A vs. Second place Group C
            (top_c[0], top_d[2] if len(top_d) > 2 else top_e[2] if len(top_e) > 2 else top_f[2], model),  # First place Group C vs. 3rd in Group D, E or F
            (top_b[0], top_a[2] if len(top_a) > 2 else top_d[2] if len(top_d) > 2 else top_e[2] if len(top_e) > 2 else top_f[2], model),  # First place Group B vs. 3rd in Group A, D, E or F
            (top_d[1], top_e[1], model),  # Second place Group D vs. Second place Group E
            (top_f[0], top_a[2] if len(top_a) > 2 else top_b[2] if len(top_b) > 2 else top_c[2], model),  # First place Group F vs. 3rd in Group A, B or C
            (top_e[0], top_a[2] if len(top_a) > 2 else top_b[2] if len(top_b) > 2 else top_c[2] if len(top_c) > 2 else top_d[2], model),  # First place Group E vs. 3rd in Group A, B, C or D
            (top_d[0], top_f[1], model)   # First place Group D vs. Second place Group F
        ])

    return matchups

# Get matchups for the next round
next_round_matchups = determine_matchups([top_three_xgboost, top_three_rf,top_three_qda,top_three_average,top_three_random ])

# Display the combined dataframe and next round matchups
combined_top_three, next_round_matchups

(      Group            Team  points_xgboost    model            Team  \
 0   Group_A         Hungary               5  xgboost         Germany
 1   Group_A     Switzerland               5  xgboost        Scotland
 2   Group_A         Germany               3  xgboost     Switzerland
 3   Group_B           Spain               9  xgboost           Italy
 4   Group_B           Italy               6  xgboost         Croatia
 5   Group_B         Croatia               3  xgboost           Spain
 6   Group_C         England               9  xgboost         England
 7   Group_C         Denmark               4  xgboost         Denmark
 8   Group_C          Serbia               2  xgboost        Slovenia
 9   Group_D          France               9  xgboost          France
 10  Group_D     Netherlands               6  xgboost     Netherlands
 11  Group_D          Poland               1  xgboost          Poland
 12  Group_E         Belgium               9  xgboost         Ukraine
 13  Group_E         Ukraine               6  xgboost         Belgium
 14  Group_E        Slovakia               3  xgboost        Slovakia
 15  Group_F        Portugal               7  xgboost        Portugal
 16  Group_F  Czech Republic               6  xgboost  Czech Republic
 17  Group_F          Turkey               4  xgboost          Turkey

     points_rf model            Team  points_qda model            Team  \
 0           9    rf     Switzerland           6   qda         Germany
 1           4    rf         Germany           5   qda         Hungary
 2           2    rf         Hungary           4   qda     Switzerland
 3           6    rf           Spain           9   qda           Spain
 4           6    rf           Italy           6   qda           Italy
 5           3    rf         Croatia           3   qda         Croatia
 6           9    rf         England           9   qda         England
 7           6    rf         Denmark           6   qda         Denmark
 8           3    rf          Serbia           3   qda          Serbia
 9           9    rf          France           9   qda          France
 10          6    rf     Netherlands           6   qda     Netherlands
 11          3    rf         Austria           3   qda         Austria
 12          9    rf         Belgium           9   qda         Belgium
 13          6    rf         Ukraine           6   qda         Ukraine
 14          3    rf         Romania           3   qda        Slovakia
 15          9    rf        Portugal           9   qda        Portugal
 16          6    rf  Czech Republic           6   qda  Czech Republic
 17          3    rf          Turkey           3   qda          Turkey

     points_average    model         Team  points_random   model
 0                5  average  Switzerland              7  random
 1                5  average     Scotland              3  random
 2                4  average      Germany              2  random
 3                9  average      Croatia              5  random
 4                6  average      Albania              5  random
 5                3  average        Spain              3  random
 6                9  average      England              7  random
 7                6  average      Denmark              6  random
 8                3  average       Serbia              4  random
 9                9  average       Poland              6  random
 10               6  average       France              6  random
 11               3  average      Austria              4  random
 12               9  average      Ukraine              7  random
 13               6  average      Romania              4  random
 14               3  average     Slovakia              3  random
 15               9  average     Portugal              9  random
 16               6  average       Turkey              4  random
 17               3  average      Georgia              3  random  ,
 [('Switzerland', 'Italy', 'xgboost'),
  ('Hungary', 'Denmark', 'xgboost'),
  ('England', 'Poland', 'xgboost'),
  ('Spain', 'Germany', 'xgboost'),
  ('Netherlands', 'Ukraine', 'xgboost'),
  ('Portugal', 'Germany', 'xgboost'),
  ('Belgium', 'Germany', 'xgboost'),
  ('France', 'Czech Republic', 'xgboost'),
  ('Scotland', 'Croatia', 'rf'),
  ('Germany', 'Denmark', 'rf'),
  ('England', 'Poland', 'rf'),
  ('Italy', 'Switzerland', 'rf'),
  ('Netherlands', 'Belgium', 'rf'),
  ('Portugal', 'Switzerland', 'rf'),
  ('Ukraine', 'Switzerland', 'rf'),
  ('France', 'Czech Republic', 'rf'),
  ('Germany', 'Italy', 'qda'),
  ('Switzerland', 'Denmark', 'qda'),
  ('England', 'Austria', 'qda'),
  ('Spain', 'Hungary', 'qda'),
  ('Netherlands', 'Ukraine', 'qda'),
  ('Portugal', 'Hungary', 'qda'),
  ('Belgium', 'Hungary', 'qda'),
  ('France', 'Czech Republic', 'qda'),
  ('Hungary', 'Italy', 'average'),
  ('Germany', 'Denmark', 'average'),
  ('England', 'Austria', 'average'),
  ('Spain', 'Switzerland', 'average'),
  ('Netherlands', 'Ukraine', 'average'),
  ('Portugal', 'Switzerland', 'average'),
  ('Belgium', 'Switzerland', 'average'),
  ('France', 'Czech Republic', 'average'),
  ('Scotland', 'Albania', 'random'),
  ('Switzerland', 'Denmark', 'random'),
  ('England', 'Austria', 'random'),
  ('Croatia', 'Germany', 'random'),
  ('France', 'Romania', 'random'),
  ('Portugal', 'Germany', 'random'),
  ('Ukraine', 'Germany', 'random'),
  ('Poland', 'Turkey', 'random')])

In [67]:
next_round_matchups[:8]

[('Switzerland', 'Italy'),
 ('Hungary', 'Denmark'),
 ('England', 'Poland'),
 ('Spain', 'Germany'),
 ('Netherlands', 'Ukraine'),
 ('Portugal', 'Germany'),
 ('Belgium', 'Germany'),
 ('France', 'Czech Republic')]

In [87]:
acht_final= pd.DataFrame(next_round_matchups,columns=["home_team","away_team","model"])

In [101]:
acht_final["away_team"].iloc[30]

'Switzerland'